:root{
    --pri: #EBE1D1;
    --pri2: #ebe1d1d1;
    --sec: #41644A;
    --tri: #0D4715;
    --quad:#E9762B;
}

@font-face {
    font-family: light;
    src: url(./Aeonika-BF66fcc5a8cc5db.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    height: 100%;
    width: 100%;
    color: white;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: var(--tri);
    
}
/* h1{
    
    color: var(--pri);
}
h2{
    color: var(--sec);
} */
nav{
    background-color: var(--quad);
    position: fixed;
    width: 100%;
    height: 60px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

nav h1{
    font-weight: 500;
    font-size: 34px;

}
nav button{
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
    cursor: pointer;
    background-color: transparent;
}
nav button:active{
    scale: 0.97;
}

section.allElems{
    height: 100%;
    width: 100%;
    padding: 40px;
    padding-top: 50px;
    
    background-color: var(--sec);
    
    
    
}

.allElems header{
    height: 400px;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1504253163759-c23fccaebb55?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-color: var(--tri);
    background-size: cover;
    background-repeat: repeat-x;
    /* background-clip: content-box; */
    margin-top: 50px;

    
    margin-bottom: 30px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;

}

header .header1 h4{
    font-size: 50px;
}

header .header2 .other{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}

header .header2 .other .details{
    display: flex;
    align-items: center;
    gap: 20px;
}


.allElems .allFeatures{
    display: -webkit-box;
    /* display: -webkit-box; */
    overflow: auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    display: -ms-flexbox;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;

}

.elem{
    background-color: #FEBA17;
    
    height: 400px;
    border-radius: 10px;
    width: 300px;
    font-size: 20px;
    overflow: hidden;
    position: relative;
    transition: all ease 0.2s;
    cursor: pointer;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.814);
    
}
.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.elem h2{
    position: absolute;
    bottom: 4%;
    right: 5%;
    font-weight: 500;
    font-size: 30px;
}
.elem:active{
    scale: 0.97;
}

.fullElem{
    height: 100%;
    width: 100%;
    background-color: var(--tri);
    padding: 40px;
    /* font-size: 60px; */
    display: none;
    position: absolute;
    top: 0;
    z-index: 999;
    
}
.back {
    position: absolute;
    right: 5%;
    background-color: var(--red);
    border-radius: 10px;
    padding: 15px 22px;
    border: none;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
}

.back:active{
    scale: 0.97;
}


.todo-list-fullpage h2{
    font-size: 50px;
}
.todo-list-fullpage .todo-container{
    height: 70%;
    width: 100%;
    margin-top: 40px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.todo-list-fullpage .todo-container .addTask{
    width: 33%;
    background-color: var(--sec);
    height: 100%;
    border-radius: 20px;
}
.todo-list-fullpage .todo-container .allTask{
    width: 65%;
    background-color: var(--sec);
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: auto;
    padding: 30px;
}
.todo-list-fullpage .todo-container .addTask form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;

    
}
.todo-list-fullpage .todo-container .addTask form #input{
    padding: 10px 20px;
    width: 100%;
    font-size: 20px;
    background-color: var(--pri);
    border: none;
    border-radius: 20px;
}
.todo-list-fullpage .todo-container .addTask form textarea{
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 20px;
    width: 100%;
    background-color: var(--pri);
    
    border: none;
    border-radius: 20px;

}
.todo-list-fullpage .todo-container .addTask form .mark-imp{
    display: flex;
    align-items: center;
    width: 100%;
    /* background-color: red; */
    margin-bottom: 1w0px;
    margin-top: 10px;
    gap: 20px;
    border-radius: 20px;
    padding: 10px;
    justify-content: flex-start !important;
    
}
.todo-list-fullpage .todo-container .addTask form button{
    margin-top: 10px;
    padding: 10px 30px;
    width: 100%;
    
    border: none;
    border-radius: 20px;
    background-color: var(--pri);
    transition: all ease 0.2s;
}
.todo-list-fullpage .todo-container .addTask form button:active{
    scale: 0.95;
}



.task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--pri2);
    padding: 20px;
    border-radius: 30px;
    color: black;
    border: none;
    margin-bottom: 10px;
}
.task .small{
    /* background-color: red; */
    width: 200px;
    word-wrap: normal;
}
.task span.yes {
    background-color: red;
    border-radius: 20px;
    padding: 4px 10px;
    font-size: 12px;
    color: white;
}
/* .task span.no {
    background-color: blue;
    border-radius: 20px;
    padding: 4px 10px;
    font-size: 12px;
    color: white;
} */


.task button{
    padding: 10px 10px;
    border: none;
    border-radius: 20px;
    background-color: var(--quad);
    cursor: pointer;
    
    
}

.task button:active{
    scale: 0.97;
}



/* ------------------DAILY PLANNER----------------- */
/* .daily-planner-fullpage{
    display: block;
} */

.daily-planner-fullpage h2{
    font-size: 70px;
}
.daily-planner-fullpage .day-planner{
    background-color: var(--sec);
    height: 100%;
    margin-top: 40px;
    width: 100%;
    border-radius: 20px;
    overflow: auto;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.daily-planner-fullpage .day-planner .day-planner-time{
    /* background-color: red; */
    display: flex;
    align-items: center;
    position: relative;
    width: 49%;
    margin-bottom: 10px;
    /* justify-content: space-between; */
} 
.day-planner .day-planner-time p{
    position: absolute;
    top: 12%;
    left: 0.8%;
    color: black;
    font-size: 18px;
}
.day-planner .day-planner-time input{
    padding: 20px 40px;
    background-color: var(--pri);
    border-radius: 20px;
    border: none;
    font-size: 26px;
    padding-top: 40px;
    outline: none;
}
/* ------------------------Motivational quotes---------------- */
/* .motivation-fullpage{
    display: block;
    
} */

.motivation-fullpage .motivation-container{
    height: 500px;
    width: 600px;
    border-radius: 50px;
    background-color: var(--sec);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -55%);
}
.motivation-fullpage .motivation-container::after{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--pri);
    border-radius: 50px;
    scale: 1.15;
    z-index: 8;
    filter: blur(150px);
}

.motivation-fullpage .motivation-container .motivation-wrapper{
    z-index: 10;
    position: absolute;
    background-color: var(--quad);
    border-radius: 50px;
    width: 100%;
    padding: 17px;
    height: 100%;
}

.motivation-1{
   
    background-color: var(--tri);
    padding: 30px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.motivation-1 h2{
    font-size: 40px;
    font-weight: 500;
}

.motivation-2{
    font-weight: 500;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.842);
    padding: 20px;
    font-size: 40px;

}

/* --------------------------------Pomodoro Timer------------------| */
/* .pomodoro-fullpage{
    display: block;
} */
.pomodoro-fullpage h2{
    font-size: 45px;
}

.pomo-timer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.pomo-timer h1{
    font-size: 160px;
}
.pomo-timer-buttons{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.pomo-timer button{
    padding: 20px;
    background-color: var(--quad);
    border-radius: 30px;
    border: none;
    outline: none;
    cursor: pointer;
}

.pomo-timer button:active{
    scale: 0.97;
}
.session{
    padding: 20px;
    margin-top: 50px;
    color: red;
}


/* ----------------------------DAILY GOALS-------------------------- */
/* .daily-goals-fullpage{
    display: block;
} */

.goals-container{
    height: 80%;
    width: 100%;
    /* background-color: var(--sec);
     */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    gap: 2rem;
    margin-top: 30px;
    border-radius: 30px;
}
.goals .yes{
    background-color: red;
    border-radius: 20px;
    height: 30px;
    width: 30px;
    text-align: center;
    /* padding: 2px 10px; */
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.add-goals{
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--sec);
    width: 100%;
    border-radius: 30px;

}

.add-goals form{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 30px;
}
.add-goals form input{
    padding: 20px;
    border-radius: 30px;
    border: none;
    background-color: var(--pri);
    font-size: 1.2rem;
}

.add-goals form button{
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    width: 60%;
    margin-left: 6w0px;
    background-color: var(--pri);
    /* transition: all ease 0.2s; */
    cursor: pointer;
}
.add-goals form button:hover{
    background-color: var(--pri);
}
.add-goals form button:active{
    scale: 0.97;
    background-color: var(--pri);
}

.allGoals{
    background-color: var(--sec);
    border-radius: 30px;
    min-height: 50vh !important;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
    
}

.allGoals .goals{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
    width: 80%;
    background-color: var(--pri2);
    border-radius: 30px;
}
.allGoals .goals h1{
    width: 50%;
    color: black;
    /* background-color: blue; */
}
.allGoals .goals button{
    padding: 20px;
    border-radius: 20px;
    /* background-color: transparent;
     */
    background-color: var(--quad);
    border: none;
    cursor: pointer;
}
.allGoals .goals button:active{
    scale: 0.97;
}